.button {
  background-color: #FF8B37;
  color: white;
  font-size: 14px;
  font-weight: 600;
  padding: 16px 24px;
  border: none;
  border-radius: 12px;
  transition: all 0.3s ease;
  cursor: pointer;
  letter-spacing: 1px;
  width: 100%;
}

@media (min-width: 550px) {
  .button {
    max-width: 296px;
    padding: 20px 24px;
    font-size: 20px;
  }
}

.button:hover {
 background-color: #FFAC70;
}

.button:active {
  background-color: #E87928;
}