.cell {
  width: 100%;
  position: relative;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #D0D0D8;
}

.active-cell {
 color: #FF8B37;
}

.passed-cell {
  color: #D0D0D8;
}

.cell-bg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: currentColor;
}

.cell-line {
  position: absolute;
  height: 1px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0.5px solid currentColor;
  width: 100%;
}

.cell-text {
  z-index: 2;
  font-size: 16px;
}

@media (min-width: 550px) {
  .cell-text {
    font-size: 20px;
  }
}

.cell-text--black {
  color: #1C1C21;
}
