.container {
  background-color: white;
  height: 100vh;
  max-width: 376px;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  overflow-y: scroll;
  gap: 8px;
}