.page {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.page-start {
  background: white;
}

.page-start::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #FFF3EB;
  clip-path: polygon(100% 0, 100% 100%, 0% 100%);
  z-index: 0;
}